# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Python virtual environments
venv/
.env/
.env
.venv/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# System files
.DS_Store
Thumbs.db

