Django~=4.2.21
djangorestframework>=3.15.1
djangorestframework-simplejwt>=5.3.1
drf-yasg>=1.21.7
PyYAML>=6.0.1  # drf-yasg에서 내부적으로 필요

pyhumps~=3.8.0
sentry-sdk~=2.27.0
django-cors-headers~=4.7.0
dotenv~=0.9.9
python-dotenv~=1.1.0
boto3~=1.38.18
djangorestframework-camel-case~=1.4.2